@use "sass:color";
@use "sass:map";
@use "variables";

@mixin global-padding {
    padding-left: 5%;
    padding-right: 5%;
}

@mixin phone-screen {
    @media screen and (max-width: map.get(variables.$breakpoints-max, phone)) {
        @content;
    }
}

@mixin tablet-screen {
    @media screen and (min-width: map.get(variables.$breakpoints-min, tablet)) and (max-width: map.get(variables.$breakpoints-max, tablet)) {
        @content;
    }
}

@mixin desktop-screen {
    @media screen and (min-width: map.get(variables.$breakpoints-min, desktop)) {
        @content;
    }
}

@mixin center-xy {
    align-items: center;
    justify-content: center;
}

@mixin drop-shadow {
    box-shadow: -2px 5px 15px -10px black;
}

@mixin all-corners-round {
    border-radius: 25px;
}

@mixin buttons--pink {
    cursor: pointer;
    color: white;
    background: linear-gradient(variables.$color-secondary, variables.$color-primary);
    border-radius: 25px;
    border: 0;
    padding: 1.2em;
    @include drop-shadow;
    &:hover {
        background: linear-gradient(color.adjust($color: variables.$color-secondary, $lightness: 2%), color.adjust(variables.$color-primary, $lightness: 2%));
        box-shadow: 0 1px 5px 1px black;
    }
}

@mixin cards-width {
    @media screen and (max-width: map.get(variables.$breakpoints-max, phone)) {
        min-width: map.get(variables.$cards-width, phone);
    }

    @media screen and (min-width: map.get(variables.$breakpoints-min, tablet)) and (max-width: map.get(variables.$breakpoints-max, tablet)) {
        width: map.get(variables.$cards-width, tablet);
    }

    @media screen and (min-width: map.get(variables.$breakpoints-min, desktop)) {
        width: map.get(variables.$cards-width, desktop);
    }
}

@mixin load-course {
    opacity: 0;
    animation: variables.$animation__load-course--duration course-loader ease-out;
    animation-fill-mode: forwards;
}