@mixin global-padding {
    padding-left: 5%;
    padding-right: 5%;
}

@mixin phone-screen {
    @media screen and (max-width: map-get($breakpoints-max, phone)) {
        @content;
    }
}

@mixin tablet-screen {
    @media screen and (min-width: map-get($breakpoints-min, tablet)) and (max-width: map-get($breakpoints-max, tablet)) {
        @content;
    }
}

@mixin desktop-screen {
    @media screen and (min-width: map-get($breakpoints-min, desktop)) {
        @content;
    }
}

@mixin center-xy {
    align-items: center;
    justify-content: center;
}

@mixin drop-shadow {
    box-shadow: -2px 5px 15px -10px black;
}

@mixin all-corners-round {
    border-radius: 25px;
}

@mixin buttons--pink {
    cursor: pointer;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 25px;
    border: 0;
    padding: 1.2em;
    @include drop-shadow;
    &:hover {
        background: linear-gradient(lighten($color: $color-secondary, $amount: 2%), lighten($color-primary, $amount:2%));
        box-shadow: 0px 1px 5px 1px black;
    }
}

@mixin cards-width {
    @media screen and (max-width: map-get($breakpoints-max, phone)) {
        min-width: map-get($cards-width, phone);
    }

    @media screen and (min-width: map-get($breakpoints-min, tablet)) and (max-width: map-get($breakpoints-max, tablet)) {
        width: map-get($cards-width, tablet);
    }

    @media screen and (min-width: map-get($breakpoints-min, desktop)) {
        width: map-get($cards-width, desktop);
    }
}

@mixin load-course {
    opacity: 0;
    animation: $animation__load-course--duration course-loader ease-out;
    animation-fill-mode: forwards;
}