@use "../abstracts/mixins";

.footer {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #353535;
    color: white;
    &__logo {
        font-family: "shrikhand", sans-serif;
        font-weight: 500;
        padding-top: 1em;
    }
    &__links {
        padding-bottom: 1em;
    }

    @include mixins.desktop-screen {
        text-align: center;
    }

    @include mixins.tablet-screen {
        text-align: center;
    }
}