html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.restaurant-name__title {
  font-family: 'Shrikhand', cursive;
}

.footer-list {
  list-style: none;
  padding-left: 0;

  .fa-solid {
    width: 1.6em;
  }
}

main>* {
  background-color: $gray;
  @include global-padding;
}

.footer {
  @include global-padding;
}

h2 {
  margin-top: 0;
}

.buttons--pink {
  cursor: pointer;
  color: white;
  background: linear-gradient($color-secondary, $color-primary);
  border-radius: 25px;
  border: 0;
  padding: 1.2em;
  @include drop-shadow;
}

.fa-heart {
  font-size: 25px;
}