@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.restaurant-name__title {
  font-family: 'Shrikhand', cursive, sans-serif;
}

.footer-list {
  list-style: none;
  padding-left: 0;

  .fa-solid {
    width: 1.6em;
  }
}

main>* {
  background-color: variables.$gray;
  @include mixins.global-padding;
}

.footer {
  @include mixins.global-padding;
}

h2 {
  margin-top: 0;
}

.fa-heart {
  font-size: 25px;
}