html {
    background-color: $gray;
}

.restaurants-page {
    &__whole-menu {
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        position: relative;
        bottom: 3em;
    }

    &__top-img {
        padding: 0;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }
}

section {
    margin-bottom: 2em;
}

.restaurant-name__title {
    padding-top: 1em;

    & h1 {
        font-weight: normal;
        font-size: 1.8em;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-category__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    margin-top: 1em;
}

.course-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 1em;
    width: $cards-width;
    border-radius: 15px;
    position: relative;
    @include drop-shadow;

    &__description-block {
    display: flex;
    width: $cards-width;
    justify-content: space-between;
    }

    &__text>* {
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-top: 0.5em;
        padding-right: 1em;
    }

    &__description-text {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.95em;
    }

    &__prices {
        font-weight: bold;
    }
}

.restaurants__buttons {
    &--margin {
        margin-top: 4em;
        text-align: center
    }

    &--pink {
        @include buttons--pink;
        padding: 1em 3em 1em 3em;
    }
}